<div class="anim-gradient-container-sm d-flex justify-content-center flex-column">
    <div class="img-header d-flex align-items-center justify-content-center flex-column paral-bg-berkeley">
        <div class="container row w-100 align-items-center">
            <div class="col-md-6 text-start">
                <h1 class="fw-light">Education</h1>
                <h3 class="fw-light">I am currently an <strong>Electrical Engineering and Computer Sciences
                        major</strong> at <strong>UC Berkeley</strong>.</h3>
                <h3 class="fw-light">(Class of 2025)</h3>
            </div>
            <div class="col-md-6 text-start">
                <h2 class="fw-light">What I've Learned (so far):</h2>
                <ul class="h5 fw-light">
                    <li><span class="h4">CS Courses</span>
                        <ul>
                            <li><strong>CS 61A</strong>: Structure and Interpretation of Computer Programs</li>
                            <li><strong>CS 61B</strong>: Data Structures</li>
                        </ul>
                    </li>
                    <li><span class="h4">EECS/EE Courses</span>
                        <ul>
                            <li><strong>EECS 16A</strong>: Designing Information Systems and Devices I</li>
                        </ul>
                    </li>
                    <li><span class="h4">Seminars/Decals</span>
                        <ul>
                            <li><strong>EE 24</strong>: Berkeley Low Cost Interplanetary Solar Sail (BLISS)</li>
                            <li><strong>EE 39</strong>: Hands-On Ham Radio</li>
                            <li>(Decal) Linux System Administration - Beginner</li>
                        </ul>
                    </li>
                </ul>
                <h3 class="mb-0 fw-light">...and many more to come!</h3>
            </div>
        </div>
    </div>
</div>