<div class="anim-gradient-container-sm top d-flex justify-content-center flex-column">
    <div class="anim-gradient d-flex align-items-center justify-content-center flex-column">
        <div class="container row w-100">
            <div class="col-md-12 text-start">
                <h1 class="fw-light">Hi, I'm <strong>Adam Angle</strong>!<br>Nice to meet you!</h1>
                <h3 class="fw-light">I am passionate about developing <strong>quality software solutions</strong> that
                    make a <strong>positive impact in the world</strong>.</h3>
            </div>
        </div>
    </div>
</div>