<div class="anim-gradient-container-sm d-flex justify-content-center flex-column">
    <div class="img-header d-flex align-items-center justify-content-center flex-column">
        <div class="container row w-100 align-items-center">
            <div class="col-md-12 text-start">
                <h1 class="fw-light">Skills</h1>
                <h2>Languages:</h2>
                <ul class="h5 list-horizontal">
                    <li>C++</li>
                    <li>C</li>
                    <li>Java</li>
                    <li>Python</li>
                    <li>Kotlin</li>
                    <li>JavaScript <small>+ HTML/CSS</small></li>
                    <li>C#</li>
                    <li>Go</li>
                </ul>
                <h2>Frameworks and Libraries:</h2>
                <ul class="h5 list-horizontal">
                    <li>Qt</li>
                    <li>OpenCV</li>
                    <li>OpenGL</li>
                    <li>Visual C++ (Windows Desktop/Shell)</li>
                    <li>Django</li>
                    <li>Flask</li>
                    <li>NumPy</li>
                    <li>SQLAlchemy</li>
                    <li>Android SDK</li>
                </ul>
                <h2>Tools:</h2>
                <ul class="h5 list-horizontal">
                    <li>Visual Studio Code and Visual Studio</li>
                    <li>IntelliJ IDEA</li>
                    <li>Eclipse IDE</li>
                </ul>
                <h2>Testing:</h2>
                <ul class="h5 list-horizontal">
                    <li>JUnit</li>
                    <li>Mocha</li>
                    <li>Selenium</li>
                    <li>Pytest</li>
                </ul>
                <h2>Collaboration:</h2>
                <ul class="h5 list-horizontal">
                    <li>GitLab CI/CD</li>
                    <li>GitHub</li>
                    <li>Slack</li>
                </ul>
            </div>
        </div>
    </div>
</div>